@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Biar aman dulu, jangan pakai @apply dulu supaya nggak muncul error lain */
body {
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a;            /* text-slate-900 */
}
